body {
  color: white;
}

@media (max-width: 100px) {
  body {
    color: blue;
  }
}

@media (max-width: 200px) {
  body {
    color: purple;
  }
}

@media (max-width: 100px) {
  body {
    color: green;
  }
}

body {
  color: yellow;
}